{% extends "adm/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'adm/form-validation.css' %}">
{% block content %} 
  
  <div class="my-3 p-3 bg-white rounded shadow-sm">
      <large class="d-block text-right mt-3">
        <a href="{% url 'view_mac' %}">Machines</a>
      </large>
      <!-- <h6 class="border-bottom border-gray pb-2 mb-0">Add User</h6> -->


  <div class="container-section">
    <form method="POST" action="{% url 'add_mac' %}" class="needs-validation"  enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Add new machine</legend>
        
        <div class="mb-3">
          <label for="mac_name">Machine Name</label>
          <input type="text" class="form-control" id="mac_name" name="mac_name" placeholder="Machine name" required>
          <div class="invalid-feedback">
            Valid name is required.
          </div>
        </div>

        <div class="mb-3">
          <label for="mac_model">Model</label>
          <input type="text" class="form-control" id="model" name="mac_model" placeholder="" required>
          <div class="invalid-feedback">
            Please enter model name.
          </div>
        </div>

        <div class="mb-3">
          <label for="manu">Manufacturer</label>
          <input type="text" class="form-control" id="manu" name="manu" placeholder="Manufacturer" required>
          <div class="invalid-feedback">
            Please enter manufacturer.
          </div>
        </div>

        <div class="mb-3">
          <label for="price">Price</label>
          <input type="text" class="form-control" id="price" name="price" placeholder="Price" required>
          <div class="invalid-feedback">
            Please enter price.
          </div>
        </div>

        <div class="mb-3">
          <label for="date">Date Bought</label>
          <input type="date" class="form-control" id="date" name="date"  required>
          <div class="invalid-feedback">
            Please enter date.
          </div>
        </div>

          <div class="mb-3">
          <label for="mimage">Machine Image</label>
          <input type="file" class="form-control" id="mimage" name="mimage" required />
          <div class="invalid-feedback">
            Please select image.
          </div>
        </div> 
        
        <hr class="mb-4">

        
      </fieldset>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Add</button>
        
      </div>
      
    </form>
      
    
  </div>

{% endblock %}
