{% extends "fdesk/base.html" %}
{% load crispy_forms_tags %}

{% block content %} 
	
	<div class="my-3 p-3 bg-white rounded shadow-sm">
    	<large class="d-block text-right mt-3">
      	<a href="{% url 'view_customers' %}">Customers</a>
    	</large>
    	<!-- <h6 class="border-bottom border-gray pb-2 mb-0">Add User</h6> -->


	<div class="container-section">
		<form method="POST" enctype="mutipart/form-data">
			{% csrf_token %}
			
			<fieldset class="form-group" style="width: 600px;">
				<legend class="border-bottom mb-4">Update customer</legend>
				{{ cust_form| crispy }}
				
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Update customer</button>
			</div>
		
		</form>
			
		
	</div>


	

{% endblock %}