<!doctype html>

{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/offcanvas/">

    <link rel="stylesheet" type="text/css" href="{% static 'adm/form-validation.css' %}">
    <link href="{% static 'adm/offcanvas.css' %}" rel="stylesheet">


    <!-- <link href="{% static 'adm/floating-labels.css' %}" rel="stylesheet"> -->
    <link rel="icon" type="image/jpg" href="{% static 'images/secure.gif' %}">



    {% if title %}
    	<title>{{ title }}</title>
    {% else %}
    	<title>Admin</title>

    {% endif %}

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .pager li.active_link{

        background: #000 !important;

}
ul{
  list-style-type: none;
}
    </style>

  </head>
  <body style="padding: 0px">
	  <nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <h4 style="color: blue">Laundry MS</h4>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="{% url 'admin-dashboard' %}">Dashboard <span class="sr-only">(current)</span></a>
	      </li>

	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="{% url 'emply-view' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Employee Manager
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="{% url 'emply-view' %}">Employees</a>
	          <a class="dropdown-item" href="{% url 'add-employee' %}">Add Employee</a>
	          
	        </div>
	      </li>

	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Drop down2
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Item 1</a>
            <a class="dropdown-item" href="#">Item 2</a>
            <a class="dropdown-item" href="#">Item 3</a>
	          
	          <!-- <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#">Something else here</a> -->
	        </div>
	      </li>
	      <!-- <li class="nav-item">
	        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
	      </li> -->
	    </ul>
		<ul class="nav navbar-right top-nav" >
		<li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Adamu Mohammed
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="#">Item 1</a>
	          <a class="dropdown-item" href="#">Item 2</a>
	          <a class="dropdown-item" href="#">Item 3</a>
	          <!-- <div class="dropdown-divider"></div> -->
	          <!-- <a class="dropdown-item" href="#">Something else here</a> -->
	        </div>
	      </li>
		  </ul>
	      <a href='#'> <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button></a>
          
      </div>
	</nav>

  <main role="main" class="container" style="background-color: #A9A9A9;">

  <div style="background-color: " class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
    <img class="mr-3" src="{% static 'images/lu.jpeg' %}" alt="Nothing" width="48" height="48">
    <div class="lh-100">
      <a style="color: white; " href="{% url 'admin-dashboard' %}"><h6 class="mb-0 text-white lh-100">Dashboard</h6></a>
      <small>Back to dashboard</small>
    </div>
  </div>

	<!-- all content here -->

	
      <!-- mesg here -->
      

    	{% block content %} 


    	{% endblock %}

               
              </div>






   
   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>


</html>
<footer class="my-5 pt-5 text-muted text-center text-small">
     <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Laundry Management System @2019</a></li>
      <li class="list-inline-item"><a href="#">Mohammed Adamu</a></li>
      <li class="list-inline-item"><a href="#">@GTU 185223693129</a></li>
    </ul>
  </footer>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>



<!-- <div class="media text-muted pt-3">
                    
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark"> </strong>

                     <a href="messagesDetails.php">View</a>
                    </div><br>
                    <span class="d-block"></span>
                  </div>
                </div>
 -->