<!doctype html>

{% load static %}
{% load crispy_forms_tags %}


<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/form-validation.css' %}">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/offcanvas/">
    <link href="{% static 'css/offcanvas.css' %}" rel="stylesheet">


    <link href="{% static '/css/floating-labels.css' %}" rel="stylesheet">
    <link rel="icon" type="image/jpg" href="{% static 'images/secure.gif' %}">

    <title>Password Reset</title>

    
  </head>

  <body style="background-color: #696969;">
    <form action="" method="POST" class="form-signin">
      {% csrf_token %}

  
<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
    <img class="mr-3" src="{% static 'images/log.png' %}" alt="Nothing" width="48" height="48">
   <div class="lh-100">
      <h3 class="mb-0 text-white lh-100">Reset Password</h3>
    </div></center>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">


    {{ form|crispy }}

  
  <button class="btn btn-lg btn-primary btn-block" type="submit">Request Password Reset</button>

  
  <p class="mt-5 mb-3 text-muted text-center">&copy; 2019-2020</p>

</div>
</form>

</body>



<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'js/offcanvas.js' %}"></script>

</div>
